@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.directionPreview {
    height: 600px;
    width: 325px;
    overflow-y: auto;
}

.directions__heading {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 0;
    background-color: white;
    background-size: cover;
    text-align: center;
}

#closeDirectionsButton {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #a6d6c9 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	cursor:pointer;
	color:#ffffff;
	font-family:'Julius Sans One', sans-serif;
	font-weight:bold;
    padding: 5px 10px;
    margin-top: 1rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
	text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}

#directionsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 600px;
    width: 325px;
}


.getDirections {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #a6d6c9 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Julius Sans One', sans-serif;
	font-weight:bold;
    padding: 5px 10px;
    margin-top: 1rem;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.deleteItinerary {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #a6d6c9 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Julius Sans One', sans-serif;
	font-weight:bold;
    padding: 5px 10px;
    margin-top: 1rem;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.directions__header {
    position: sticky;
    top: 0;
}