@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.saveItinerary { 
    display: flex;
    justify-content: center;
}

#showItineraries {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #a6d6c9 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 30px;
    margin-top: 1rem;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.savedItineraries { 
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
}

.forcast__save__styling { 
    display: flex;
    flex-direction: row;
    font-family: 'Julius Sans One', sans-serif;;
}