body { 
    margin: 0;
}

.dropdown { 
    border-radius: 25rem;
    height: 2rem;
    width: 15rem;
    text-align: center;
    text-align-last: center;
    opacity: 5;
    border-color: lightgray;
    margin-top: 4rem;
}

.destinationSelectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2px;
}


.attractions__selector { 
    display: flex; 
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.parks__selector { 
    display: flex; 
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.eateries__selector { 
    display: flex; 
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.selectorHeading { 
    display: flex;
    justify-content: center;
}

.destinationSelectorsBackground {
  
    background-image: url("../images/MomChildBackground.jpg");
    height: 60vh;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.5;
}